body {
    background-color: lightgray;
    font-family: 'Open Sans';
}

h1 { color:darkred; 
    padding: 40px;
    text-align: center;
    text-shadow: 2px 2px black;}

h2 { color:red; 
    padding: 25px;
    text-align: center;}

p {text-align: center;
    padding: 10px;}

li {text-align: center;}

ul.square-list {text-align: center;
                list-style-type: square;
            list-style-position: inside;}